.playlist-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 2rem 0rem;
}

.playlist-container-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.playlist-container-items div {
  display: flex;
}
.playlist-container-items button {
  background-color: #6a136b;
  color: white;
  padding: 0.9rem 3rem;

  border: none;
  min-width: 15rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 1px 1px 10px black;
}

.playlist-container-items #sbtn {
  background-color: black;
}
